{% extends 'base.html' %}

{% block title %}
My Tasks
{% endblock title %}

{% block content %}

<div>
    <h1>My Tasks</h1>
    {% if myTasks.all|length == 0 %}
    <p>You have no tasks</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {%for task in myTasks.all %}
            <tr>

                <td>{{task.name}}</td>
                <td>{{task.start_date}}</td>
                <td>{{task.due_date}}</td>
                <td>{{task.is_completed|yesno:"yes,no,maybe"}}</td>
            </tr>
            {% endfor %}

    {% endif %}
</div>


{% endblock content %}
