{% extends 'base.html' %}

{% block title %}
Create a new project
{% endblock title %}

{% block content %}
<div>
    <h1>
        Create a new project
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>

</div>

{% endblock content %}
