{% extends 'base.html' %}


{% block title %}
My Projects
{% endblock title %}



{% block content %}

<div>
    <h1>
        My Projects
    </h1>
    <p><a href="{% url 'create_project' %}">Create a new project</a></p>
    {% if projects_object.all|length == 0 %}
    <p>{{"You are not assigned to any projects"}}</p>

    {%else %}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for project in projects_object %}
                <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                <td>{{project.tasks.all.count }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>


{% endblock content %}
