{% extends 'base.html' %}


{% block title %}
Project details
{% endblock title %}



{% block content %}

<div>
    <h1>
        {{project_object.name}}
    </h1>
    <h2>
    Tasks
    </h2>
    <p><a href="{% url 'create_task' %}">Create a new task</a></p>
        {% if project_object.tasks.all|length == 0 %}
        <p>{{"This project has no tasks"}}</p>

        {%else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {%for task in project_object.tasks.all %}
                <tr>

                    <td>{{task.name}}</td>
                    <td>{{task.assignee}}</td>
                    <td>{{task.start_date}}</td>
                    <td>{{task.due_date}}</td>
                    <td>{{task.is_completed|yesno:"yes,no,maybe"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>




        {% endif %}






    {% endblock content %}
